<h1>bleetr</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form method="post" action="/login">
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label for="email" class="sr-only">Email</label>
          <input type="text" id="email" name="user[email]"
            placeholder="Enter your email" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="text" id="password" name="user[password]"
            placeholder="Enter your password" value="" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" value="Log In" class="btn btn-warning">
        </div>
      </fieldset>
    </form>
  </div>
</div>