<div class="row">
  <div class="row">&nbsp;</div>
  <div class="titleText">bleetr</div>

  <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
      <div class="col-md-4">
        <br>
        <form method="get" action="/">
          <fieldset>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="text" id="email" name="user[email]"
                placeholder="Email" value="" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input type="text" id="password" name="user[password]"
                placeholder="Password" value="" class="form-control">
            </div>
            <div class="form-group">
            <input type="submit" value="Log in" class="btn btn-success">
              <!-- <h3><a href="/" class="label label-default">Log In</a></h3>
            </div> -->
          </fieldset>
        </form>
      </div>
      <div class="col-md-4" style="text-align:center;">
        <img src="/img/sheep.png" alt="bleetin' sheep" width="180" height="180">
      </div>

      <div class="col-md-4">
        <form method="post" action="/users">
          <fieldset>
            <div class="form-group">
              <label for="username" class="sr-only">Username</label>
              <input type="text" id="name" name="user[name]" placeholder="username" value="" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="text" id="email" name="user[email]" placeholder="Email" value="" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input type="text" id="password" name="user[password]" placeholder="Password" value="" class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" value="Sign up" class="btn btn-success">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  <div class="col-md-3">&nbsp;</div>
</div>
