<html lang=en"en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/pygments.css" />
    <link rel="stylesheet" href="/css/application.css">
    <title> bleetr</title>
  </head>
 <%= partial :navbar %>

  <div class="row sheep">
    <div class="col-md-2" style="text-align:center;">
      <img src="/img/sheep.png" alt="bleetin sheep" width="200" height="200" >
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form method="post" action="/bleets">
        <fieldset>
          <div class="form-group">
            <label for="content" class="sr-only">Content</label>
            <input type="text" id="content" name="bleet[content]"
              placeholder="bleet, bleet" value="" class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" value="bleet" class="btn btn-warning">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <table class="table table-striped table-bordered">
        <h3>word on the paddock is....</h3><br>
        <% @bleets.each do |bleet| %>
        <div class ="bleet">
          <h4>Sheepysheep</h4>
          <p><%= bleet.content %></p>
        </div>
        <%end%>
        <p>test bleet</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
